@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.animate-scroll {
  animation: scroll var(--duration, 30s) linear infinite;
  animation-direction: var(--direction, normal);
}

.group:hover .group-hover\:\[animation-play-state\:paused\] {
  animation-play-state: paused;
}
