openapi: 3.1.0
info:
  title: Lanonasis MCP REST API
  version: 1.1.0
  description: |
    Complete REST API for Lanonasis Memory as a Service (MaaS) platform.
    Provides access to 28 MCP tools through a consistent `/api/v1/**` interface,
    including the AI-powered Memory Intelligence suite.

    ## Architecture

    The platform operates with two parallel routes:
    - **REST API (Supabase Edge Functions)**: This specification documents the edge function endpoints
    - **MCP Server (Direct Supabase)**: The MCP protocol server connects directly to Supabase

    Both routes share the same database schema and are designed to work in parallel.
    The REST API is a more recent development under active monitoring, replacing older
    Netlify functions.

    ### Field Naming Compatibility

    For memory operations, both `type` and `memory_type` field names are accepted:
    - `type`: Used by MCP tools for compatibility with the MCP protocol
    - `memory_type`: Preferred REST API field name, matches database column

    ## Authentication

    This API supports three authentication methods:

    1. **OAuth2 PKCE** (Primary)
       - Authorization URL: `https://auth.lanonasis.com/oauth/authorize`
       - Token URL: `https://auth.lanonasis.com/oauth/token`
       - Scopes: `mcp:full`, `memories:read`, `memories:write`, `profile`

    2. **API Key** (Fallback)
       - Header: `X-API-Key: lms_live_*`

    3. **JWT Token** (Legacy)
       - Header: `Authorization: Bearer <jwt_token>`

  contact:
    name: Lanonasis Support
    email: support@lanonasis.com
    url: https://docs.lanonasis.com

  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.lanonasis.com/api/v1
    description: Production server
  - url: https://staging-api.lanonasis.com/api/v1
    description: Staging server
  - url: http://localhost:54321/functions/v1
    description: Local development (Supabase)

tags:
  - name: Memories
    description: Memory management operations (9 tools including stats and bulk operations)
  - name: Intelligence
    description: AI-powered memory intelligence and analytics (6 tools)
  - name: API Keys
    description: API key management (5 tools)
  - name: Projects
    description: Project management (2 tools)
  - name: Organizations
    description: Organization management (1 tool)
  - name: System
    description: System health and configuration (4 tools)

security:
  - OAuth2PKCE:
      - mcp:full
  - ApiKeyAuth: []
  - BearerAuth: []

paths:
  # ============================================================================
  # MEMORY MANAGEMENT
  # ============================================================================

  /memories:
    get:
      tags:
        - Memories
      summary: List Memories
      description: List memories with pagination and filters (MCP tool `list_memories`)
      operationId: listMemories
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/MemoryType'
        - name: tags
          in: query
          description: Comma-separated list of tags
          schema:
            type: string
            example: "architecture,design"
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [created_at, updated_at, title]
            default: updated_at
        - name: sortOrder
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemoryListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'

    post:
      tags:
        - Memories
      summary: Create Memory
      description: Create a new memory with vector embedding (MCP tool `create_memory`)
      operationId: createMemory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMemoryRequest'
      responses:
        '201':
          description: Memory created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemoryResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /memories/{id}:
    get:
      tags:
        - Memories
      summary: Get Memory
      description: Get a specific memory by ID (MCP tool `get_memory`)
      operationId: getMemory
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemoryResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    put:
      tags:
        - Memories
      summary: Update Memory
      description: Update an existing memory (MCP tool `update_memory`)
      operationId: updateMemory
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMemoryRequest'
      responses:
        '200':
          description: Memory updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemoryResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    delete:
      tags:
        - Memories
      summary: Delete Memory
      description: Delete a memory by ID (MCP tool `delete_memory`)
      operationId: deleteMemory
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Memory deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /memories/search:
    post:
      tags:
        - Memories
      summary: Search Memories
      description: Search memories using semantic vector search (MCP tool `search_memories`)
      operationId: searchMemories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchMemoriesRequest'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchMemoriesResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /docs/search:
    post:
      tags:
        - Memories
      summary: Search Documentation
      description: Search Lanonasis documentation (MCP tool `search_lanonasis_docs`)
      operationId: searchDocs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: Search query
                section:
                  type: string
                  enum: [all, api, guides, sdks]
                  default: all
                limit:
                  type: integer
                  default: 10
                  minimum: 1
                  maximum: 50
      responses:
        '200':
          description: Documentation search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocsSearchResponse'

  /memories/stats:
    get:
      tags:
        - Memories
      summary: Get Memory Statistics
      description: Get comprehensive statistics about memory usage (MCP tool `memory_stats`)
      operationId: getMemoryStats
      responses:
        '200':
          description: Memory statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemoryStatsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /memories/bulk-delete:
    post:
      tags:
        - Memories
      summary: Bulk Delete Memories
      description: Delete multiple memories at once (MCP tool `memory_bulk_delete`). Maximum 100 memories per request.
      operationId: bulkDeleteMemories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteRequest'
      responses:
        '200':
          description: Bulk delete result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDeleteResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # ============================================================================
  # INTELLIGENCE API
  # ============================================================================

  /intelligence/analyze-patterns:
    post:
      tags:
        - Intelligence
      summary: Analyze Memory Patterns
      description: |
        Analyze usage patterns and trends across your memory collection (MCP tool `intelligence_analyze_patterns`).
        Returns insights about memory creation habits, type distribution, peak hours, and AI-generated recommendations.

        **Tier Access**: Premium feature with usage quotas based on subscription tier.
      operationId: analyzePatterns
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyzePatternsRequest'
      responses:
        '200':
          description: Pattern analysis results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyzePatternsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/PremiumRequiredError'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /intelligence/suggest-tags:
    post:
      tags:
        - Intelligence
      summary: Suggest Tags
      description: |
        Get AI-powered tag suggestions for a memory based on its content (MCP tool `intelligence_suggest_tags`).
        Uses context from user's existing tag vocabulary for consistency.

        **Tier Access**: Premium feature with usage quotas.
      operationId: suggestTags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuggestTagsRequest'
      responses:
        '200':
          description: Tag suggestions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuggestTagsResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/PremiumRequiredError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /intelligence/find-related:
    post:
      tags:
        - Intelligence
      summary: Find Related Memories
      description: |
        Find semantically related memories using vector similarity search (MCP tool `intelligence_find_related`).
        Supports both memory-based and query-based search.

        **Tier Access**: Premium feature with usage quotas.
      operationId: findRelated
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FindRelatedRequest'
      responses:
        '200':
          description: Related memories found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FindRelatedResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/PremiumRequiredError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /intelligence/detect-duplicates:
    post:
      tags:
        - Intelligence
      summary: Detect Duplicate Memories
      description: |
        Find potential duplicate or very similar memories (MCP tool `intelligence_detect_duplicates`).
        Uses semantic similarity when embeddings are available, falls back to text similarity.

        **Tier Access**: Premium feature with usage quotas.
      operationId: detectDuplicates
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetectDuplicatesRequest'
      responses:
        '200':
          description: Duplicate detection results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectDuplicatesResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/PremiumRequiredError'

  /intelligence/extract-insights:
    post:
      tags:
        - Intelligence
      summary: Extract Insights
      description: |
        Extract actionable insights and summaries from memories using AI analysis (MCP tool `intelligence_extract_insights`).
        Supports theme detection, connection finding, gap analysis, and action item extraction.

        **Tier Access**: Premium feature with usage quotas.
      operationId: extractInsights
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtractInsightsRequest'
      responses:
        '200':
          description: Extracted insights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractInsightsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/PremiumRequiredError'

  /intelligence/health-check:
    post:
      tags:
        - Intelligence
      summary: Memory Health Check
      description: |
        Get a health score and recommendations for your memory organization (MCP tool `intelligence_health_check`).
        Analyzes tagging, recency, completeness, organization, and diversity.

        **Tier Access**: Premium feature with usage quotas.
      operationId: intelligenceHealthCheck
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntelligenceHealthCheckRequest'
      responses:
        '200':
          description: Memory health analysis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntelligenceHealthCheckResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/PremiumRequiredError'

  /intelligence/behavior-record:
    post:
      tags:
        - Intelligence
      summary: Record Behavior Pattern
      description: |
        Record a behavior/workflow pattern with embedding generation and deduplication.
        If a near-duplicate is found, the existing pattern is updated instead of creating a new one.
      operationId: recordBehaviorPattern
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BehaviorRecordRequest'
      responses:
        '200':
          description: Pattern updated (duplicate detected)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BehaviorRecordResponse'
        '201':
          description: Pattern created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BehaviorRecordResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /intelligence/behavior-recall:
    post:
      tags:
        - Intelligence
      summary: Recall Behavior Patterns
      description: |
        Recall relevant behavior patterns using vector similarity search.
        Useful for surfacing likely next steps based on current task context.
      operationId: recallBehaviorPatterns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BehaviorRecallRequest'
      responses:
        '200':
          description: Behavior pattern recall results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BehaviorRecallResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /intelligence/behavior-suggest:
    post:
      tags:
        - Intelligence
      summary: Suggest Next Actions
      description: |
        Generate action suggestions based on recalled behavior patterns.
        Useful for proposing the next likely tools or steps.
      operationId: suggestBehaviorActions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BehaviorSuggestRequest'
      responses:
        '200':
          description: Suggested actions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BehaviorSuggestResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # ============================================================================
  # API KEY MANAGEMENT
  # ============================================================================

  /auth/api-keys:
    get:
      tags:
        - API Keys
      summary: List API Keys
      description: List API keys for the authenticated user (MCP tool `list_api_keys`)
      operationId: listApiKeys
      parameters:
        - name: active_only
          in: query
          schema:
            type: boolean
            default: true
        - name: project_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags:
        - API Keys
      summary: Create API Key
      description: Create a new API key (MCP tool `create_api_key`)
      operationId: createApiKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '201':
          description: API key created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /auth/api-keys/{keyId}:
    delete:
      tags:
        - API Keys
      summary: Delete API Key
      description: Delete an API key permanently (MCP tool `delete_api_key`)
      operationId: deleteApiKey
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: API key deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /auth/api-keys/{keyId}/rotate:
    post:
      tags:
        - API Keys
      summary: Rotate API Key
      description: Rotate an API key (MCP tool `rotate_api_key`)
      operationId: rotateApiKey
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: API key rotated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyRotateResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /auth/api-keys/{keyId}/revoke:
    post:
      tags:
        - API Keys
      summary: Revoke API Key
      description: Revoke (deactivate) an API key (MCP tool `revoke_api_key`)
      operationId: revokeApiKey
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: API key revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyRevokeResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # ============================================================================
  # PROJECTS
  # ============================================================================

  /projects:
    get:
      tags:
        - Projects
      summary: List Projects
      description: List projects for an organization (MCP tool `list_projects`)
      operationId: listProjects
      parameters:
        - name: organization_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of projects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags:
        - Projects
      summary: Create Project
      description: Create a new project (MCP tool `create_project`)
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # ============================================================================
  # ORGANIZATIONS
  # ============================================================================

  /organizations/{orgId}:
    get:
      tags:
        - Organizations
      summary: Get Organization Info
      description: Get organization information (MCP tool `get_organization_info`)
      operationId: getOrganizationInfo
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Organization information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # ============================================================================
  # SYSTEM & CONFIGURATION
  # ============================================================================

  /health:
    get:
      tags:
        - System
      summary: Get Health Status
      description: Get system health status (MCP tool `get_health_status`)
      operationId: getHealthStatus
      security: []  # Public endpoint
      responses:
        '200':
          description: System health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /auth/status:
    get:
      tags:
        - System
      summary: Get Auth Status
      description: Get authentication status for current session (MCP tool `get_auth_status`)
      operationId: getAuthStatus
      responses:
        '200':
          description: Authentication status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatusResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /config:
    get:
      tags:
        - System
      summary: Get Configuration
      description: Get configuration setting (MCP tool `get_config`)
      operationId: getConfig
      parameters:
        - name: key
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Configuration value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    put:
      tags:
        - System
      summary: Set Configuration
      description: Set configuration setting (MCP tool `set_config`)
      operationId: setConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - key
                - value
              properties:
                key:
                  type: string
                value:
                  type: string
      responses:
        '200':
          description: Configuration updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

# ============================================================================
# COMPONENTS
# ============================================================================

components:
  securitySchemes:
    OAuth2PKCE:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.lanonasis.com/oauth/authorize
          tokenUrl: https://auth.lanonasis.com/oauth/token
          refreshUrl: https://auth.lanonasis.com/oauth/token
          scopes:
            mcp:full: Full access to MCP server
            memories:read: Read access to memories
            memories:write: Write access to memories
            profile: Access to user profile

    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # Memory Schemas
    MemoryType:
      type: string
      enum: [context, project, knowledge, reference, personal, workflow]

    Memory:
      type: object
      description: |
        Memory entry response. Contains both `type` (for MCP compatibility)
        and `memory_type` (canonical database field) in responses.
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        content:
          type: string
        type:
          $ref: '#/components/schemas/MemoryType'
          description: Memory type (MCP-compatible alias)
        memory_type:
          $ref: '#/components/schemas/MemoryType'
          description: Memory type (canonical database field)
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object
          additionalProperties: true
        user_id:
          type: string
          format: uuid
          description: Owner user ID
        organization_id:
          type: string
          format: uuid
          description: Organization ID
        topic_id:
          type: string
          format: uuid
          description: Optional topic grouping ID
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        last_accessed:
          type: string
          format: date-time
          description: Last access timestamp
        access_count:
          type: integer
          description: Number of times accessed

    CreateMemoryRequest:
      type: object
      required:
        - title
        - content
      description: |
        Create a new memory entry. Either `type` or `memory_type` must be provided.
        Both field names are accepted for compatibility between MCP (uses `type`)
        and REST API (prefers `memory_type`). If both are provided, `memory_type` takes precedence.
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
          description: Title of the memory (required)
        content:
          type: string
          minLength: 1
          description: Content of the memory (required)
        type:
          $ref: '#/components/schemas/MemoryType'
          description: Memory type (MCP-compatible field name)
        memory_type:
          $ref: '#/components/schemas/MemoryType'
          description: Memory type (preferred REST API field name)
        tags:
          type: array
          items:
            type: string
          description: Array of tags for organization and filtering
        metadata:
          type: object
          additionalProperties: true
          description: Additional key-value metadata
        topic_id:
          type: string
          format: uuid
          description: Optional topic ID for grouping related memories

    UpdateMemoryRequest:
      type: object
      description: |
        Update an existing memory. All fields are optional.
        Both `type` and `memory_type` field names are accepted for compatibility.
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
          description: Updated title
        content:
          type: string
          minLength: 1
          description: Updated content
        type:
          $ref: '#/components/schemas/MemoryType'
          description: Memory type (MCP-compatible field name)
        memory_type:
          $ref: '#/components/schemas/MemoryType'
          description: Memory type (preferred REST API field name)
        tags:
          type: array
          items:
            type: string
          description: Updated tags (replaces existing)
        metadata:
          type: object
          additionalProperties: true
          description: Updated metadata (merged with existing)

    SearchMemoriesRequest:
      type: object
      required:
        - query
      properties:
        query:
          type: string
        type:
          $ref: '#/components/schemas/MemoryType'
        threshold:
          type: number
          minimum: 0
          maximum: 1
          default: 0.8
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 10

    MemoryResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/Memory'

    MemoryListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Memory'
        pagination:
          type: object
          properties:
            total:
              type: integer
            page:
              type: integer
            limit:
              type: integer
            hasMore:
              type: boolean

    SearchMemoriesResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            results:
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/Memory'
                  - type: object
                    properties:
                      similarity_score:
                        type: number
            total:
              type: integer
            query:
              type: string
            threshold:
              type: number

    DocsSearchResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            results:
              type: array
              items:
                type: object
                properties:
                  title:
                    type: string
                  section:
                    type: string
                  path:
                    type: string
                  excerpt:
                    type: string
                  relevance_score:
                    type: number
            total:
              type: integer
            query:
              type: string

    # API Key Schemas
    CreateApiKeyRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
        access_level:
          type: string
          enum: [public, authenticated, team, admin, enterprise]
          default: authenticated
        expires_in_days:
          type: integer
          default: 365
        project_id:
          type: string
          format: uuid

    ApiKeyResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            key:
              type: string
              description: Full API key (only shown on creation)
            access_level:
              type: string
            created_at:
              type: string
              format: date-time
            expires_at:
              type: string
              format: date-time
            warning:
              type: string

    ApiKeyListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
              key_prefix:
                type: string
              access_level:
                type: string
              is_active:
                type: boolean
              last_used_at:
                type: string
                format: date-time
              created_at:
                type: string
                format: date-time
              expires_at:
                type: string
                format: date-time
        total:
          type: integer

    ApiKeyRotateResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            key:
              type: string
              description: New API key
            old_key_expires_at:
              type: string
              format: date-time
            rotated_at:
              type: string
              format: date-time
            warning:
              type: string

    ApiKeyRevokeResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
            is_active:
              type: boolean
            revoked_at:
              type: string
              format: date-time

    # Project Schemas
    CreateProjectRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
        organization_id:
          type: string
          format: uuid

    ProjectResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            description:
              type: string
            organization_id:
              type: string
              format: uuid
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time

    ProjectListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
              description:
                type: string
              organization_id:
                type: string
                format: uuid
              created_at:
                type: string
                format: date-time
        total:
          type: integer

    # Organization Schemas
    OrganizationResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            plan:
              type: string
              enum: [free, authenticated, team, enterprise]
            settings:
              type: object
              properties:
                max_users:
                  type: integer
                features:
                  type: array
                  items:
                    type: string
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time

    # System Schemas
    HealthResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            status:
              type: string
              enum: [healthy, degraded, unhealthy]
            services:
              type: object
              properties:
                database:
                  type: string
                cache:
                  type: string
                mcp:
                  type: string
            uptime:
              type: string
            version:
              type: string
            timestamp:
              type: string
              format: date-time
            memory_usage:
              type: object
              properties:
                used:
                  type: integer
                total:
                  type: integer
                percentage:
                  type: integer

    AuthStatusResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            authenticated:
              type: boolean
            user_id:
              type: string
              format: uuid
            organization_id:
              type: string
              format: uuid
            access_level:
              type: string
            token_expires_at:
              type: string
              format: date-time
            scopes:
              type: array
              items:
                type: string
            session_info:
              type: object
              properties:
                created_at:
                  type: string
                  format: date-time
                last_activity:
                  type: string
                  format: date-time

    ConfigResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            key:
              type: string
            value:
              type: string
            type:
              type: string
            description:
              type: string
            previous_value:
              type: string
            updated_at:
              type: string
              format: date-time

    # Memory Stats & Bulk Operations
    MemoryStatsResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            total_memories:
              type: integer
              description: Total number of memories
            by_type:
              type: object
              additionalProperties:
                type: integer
              description: Count by memory type
            with_embeddings:
              type: integer
              description: Memories with vector embeddings
            without_embeddings:
              type: integer
            recent_activity:
              type: object
              properties:
                created_last_24h:
                  type: integer
                updated_last_24h:
                  type: integer
                accessed_last_24h:
                  type: integer
            top_tags:
              type: array
              items:
                type: object
                properties:
                  tag:
                    type: string
                  count:
                    type: integer
            storage:
              type: object
              properties:
                embedding_dimension:
                  type: integer
                model:
                  type: string
        organization_id:
          type: string
          format: uuid
        generated_at:
          type: string
          format: date-time

    BulkDeleteRequest:
      type: object
      required:
        - ids
      properties:
        ids:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          maxItems: 100
          description: Array of memory UUIDs to delete (max 100)

    BulkDeleteResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        deleted_count:
          type: integer
        deleted_ids:
          type: array
          items:
            type: string
            format: uuid
        not_found:
          type: array
          items:
            type: string
            format: uuid
          description: IDs that were not found
        not_authorized:
          type: array
          items:
            type: string
            format: uuid
          description: IDs the user is not authorized to delete

    # Intelligence API Schemas
    AnalyzePatternsRequest:
      type: object
      properties:
        time_range_days:
          type: integer
          minimum: 1
          maximum: 365
          default: 30
          description: Number of days to analyze
        include_insights:
          type: boolean
          default: true
          description: Include AI-generated insights
        response_format:
          type: string
          enum: [json, markdown]
          default: json
          description: Response format

    AnalyzePatternsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            total_memories:
              type: integer
            time_range_days:
              type: integer
            average_content_length:
              type: integer
            memories_by_type:
              type: object
              additionalProperties:
                type: integer
            memories_by_day_of_week:
              type: object
              additionalProperties:
                type: integer
            peak_creation_hours:
              type: array
              items:
                type: integer
              description: Top 3 hours (0-23) with most activity
            top_tags:
              type: array
              items:
                type: object
                properties:
                  tag:
                    type: string
                  count:
                    type: integer
            most_accessed:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  title:
                    type: string
                  access_count:
                    type: integer
            insights:
              type: array
              items:
                type: string
              description: AI-generated insights
            generated_at:
              type: string
              format: date-time
        meta:
          $ref: '#/components/schemas/IntelligenceMeta'
        tier_info:
          $ref: '#/components/schemas/TierInfo'

    SuggestTagsRequest:
      type: object
      properties:
        memory_id:
          type: string
          format: uuid
          description: UUID of the memory to analyze
        content:
          type: string
          description: Raw content to analyze (alternative to memory_id)
        title:
          type: string
          description: Title for context (used with content)
        existing_tags:
          type: array
          items:
            type: string
          description: Tags already on the memory
        max_suggestions:
          type: integer
          minimum: 1
          maximum: 10
          default: 5

    SuggestTagsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            suggestions:
              type: array
              items:
                type: string
              description: Suggested tags
            existing_tags:
              type: array
              items:
                type: string
            from_user_vocabulary:
              type: integer
              description: How many suggestions came from user's existing tags
            memory_id:
              type: string
              format: uuid
        meta:
          $ref: '#/components/schemas/IntelligenceMeta'
        tier_info:
          $ref: '#/components/schemas/TierInfo'

    FindRelatedRequest:
      type: object
      properties:
        memory_id:
          type: string
          format: uuid
          description: Source memory to find related items for
        query:
          type: string
          description: Text query (alternative to memory_id)
        limit:
          type: integer
          minimum: 1
          maximum: 20
          default: 5
        similarity_threshold:
          type: number
          minimum: 0
          maximum: 1
          default: 0.7
        exclude_ids:
          type: array
          items:
            type: string
            format: uuid
          description: Memory IDs to exclude from results

    FindRelatedResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            query:
              type: string
              description: Search query used
            source_memory_id:
              type: string
              format: uuid
            related_memories:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  title:
                    type: string
                  type:
                    type: string
                  tags:
                    type: array
                    items:
                      type: string
                  similarity:
                    type: number
                    description: Similarity score 0-1
                  snippet:
                    type: string
                    description: Content preview
            total_found:
              type: integer
            search_method:
              type: string
              enum: [semantic, keyword]
            threshold_used:
              type: number
        meta:
          $ref: '#/components/schemas/IntelligenceMeta'
        tier_info:
          $ref: '#/components/schemas/TierInfo'

    DetectDuplicatesRequest:
      type: object
      properties:
        similarity_threshold:
          type: number
          minimum: 0.8
          maximum: 0.99
          default: 0.85
          description: Minimum similarity to consider as duplicate
        include_archived:
          type: boolean
          default: false
        limit:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
          description: Maximum duplicate groups to return

    DetectDuplicatesResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            duplicate_groups:
              type: array
              items:
                type: object
                properties:
                  primary_id:
                    type: string
                    format: uuid
                  primary_title:
                    type: string
                  duplicates:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        title:
                          type: string
                        similarity:
                          type: number
                        created_at:
                          type: string
                          format: date-time
                  similarity_score:
                    type: number
                    description: Average similarity of group
            total_groups:
              type: integer
            total_duplicates:
              type: integer
            detection_method:
              type: string
              enum: [semantic, text]
            threshold_used:
              type: number
            memories_analyzed:
              type: integer
            potential_storage_savings:
              type: string
        meta:
          $ref: '#/components/schemas/IntelligenceMeta'
        tier_info:
          $ref: '#/components/schemas/TierInfo'

    ExtractInsightsRequest:
      type: object
      properties:
        memory_ids:
          type: array
          items:
            type: string
            format: uuid
          description: Specific memories to analyze
        topic:
          type: string
          maxLength: 200
          description: Topic filter for memories
        time_range_days:
          type: integer
          minimum: 1
          maximum: 365
          default: 30
        insight_types:
          type: array
          items:
            type: string
            enum: [themes, connections, gaps, actions, summary]
          default: [themes, connections, actions]
        detail_level:
          type: string
          enum: [brief, detailed, comprehensive]
          default: detailed

    ExtractInsightsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            insights:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                    enum: [themes, connections, gaps, actions, summary]
                  content:
                    type: string
                  confidence:
                    type: number
                    minimum: 0
                    maximum: 1
                  related_memory_ids:
                    type: array
                    items:
                      type: string
                      format: uuid
            overall_summary:
              type: string
            memories_analyzed:
              type: integer
            insight_types:
              type: array
              items:
                type: string
            topic_filter:
              type: string
            generated_at:
              type: string
              format: date-time
        meta:
          $ref: '#/components/schemas/IntelligenceMeta'
        tier_info:
          $ref: '#/components/schemas/TierInfo'

    IntelligenceHealthCheckRequest:
      type: object
      properties:
        include_recommendations:
          type: boolean
          default: true
          description: Include AI-generated recommendations
        detailed_breakdown:
          type: boolean
          default: true
          description: Include detailed score breakdown

    IntelligenceHealthCheckResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            health_score:
              type: object
              properties:
                overall:
                  type: integer
                  minimum: 0
                  maximum: 100
                breakdown:
                  type: object
                  properties:
                    organization:
                      type: integer
                    tagging:
                      type: integer
                    recency:
                      type: integer
                    completeness:
                      type: integer
                    diversity:
                      type: integer
            status:
              type: string
              enum: [excellent, good, needs_attention, poor]
            statistics:
              type: object
              properties:
                total_memories:
                  type: integer
                active_memories:
                  type: integer
                archived_memories:
                  type: integer
                memories_with_tags:
                  type: integer
                unique_tags:
                  type: integer
                memory_types:
                  type: integer
                recent_memories_30d:
                  type: integer
                stale_memories_90d:
                  type: integer
            issues:
              type: array
              items:
                type: object
                properties:
                  severity:
                    type: string
                    enum: [high, medium, low]
                  category:
                    type: string
                  description:
                    type: string
                  affected_count:
                    type: integer
                  recommendation:
                    type: string
            recommendations:
              type: array
              items:
                type: string
            generated_at:
              type: string
              format: date-time
        meta:
          $ref: '#/components/schemas/IntelligenceMeta'
        tier_info:
          $ref: '#/components/schemas/TierInfo'

    # Shared Intelligence Schemas
    IntelligenceMeta:
      type: object
      description: Usage metadata for intelligence operations
      properties:
        tokens_used:
          type: integer
          description: AI tokens consumed
        cost_usd:
          type: number
          description: Estimated cost in USD
        cached:
          type: boolean
          description: Whether result was served from cache

    TierInfo:
      type: object
      description: User tier and quota information
      properties:
        tier:
          type: string
          description: Current subscription tier
        usage_remaining:
          type: integer
          description: Remaining quota for this tool

    # Common Schemas
    DeleteResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
            deleted_at:
              type: string
              format: date-time

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string
            request_id:
              type: string
            timestamp:
              type: string
              format: date-time

  responses:
    UnauthorizedError:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    RateLimitError:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    PremiumRequiredError:
      description: Premium tier required or quota exceeded
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: false
              error:
                type: object
                properties:
                  code:
                    type: string
                    example: PREMIUM_REQUIRED
                  message:
                    type: string
                    example: This feature requires a premium subscription
                  current_tier:
                    type: string
                    description: User's current subscription tier
                  required_tier:
                    type: string
                    description: Minimum tier required for this feature
                  upgrade_url:
                    type: string
                    format: uri
                    description: URL to upgrade subscription
